@font-face {
    font-family: "flex 105";
    src: url("../../static/fonts/sequel/Sequel100Black-105.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 45";
    src: url("../../static/fonts/sequel/Sequel100Black-45.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 46";
    src: url("../../static/fonts/sequel/Sequel100Black-46.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 55";
    src: url("../../static/fonts/sequel/Sequel100Black-55.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 56";
    src: url("../../static/fonts/sequel/Sequel100Black-56.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 65";
    src: url("../../static/fonts/sequel/Sequel100Black-65.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 66";
    src: url("../../static/fonts/sequel/Sequel100Black-66.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 75";
    src: url("../../static/fonts/sequel/Sequel100Black-75.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 76";
    src: url("../../static/fonts/sequel/Sequel100Black-76.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 85";
    src: url("../../static/fonts/sequel/Sequel100Black-85.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 86";
    src: url("../../static/fonts/sequel/Sequel100Black-86.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 95";
    src: url("../../static/fonts/sequel/Sequel100Black-95.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 96";
    src: url("../../static/fonts/sequel/Sequel100Black-96.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 105";
    src: url("../../static/fonts/sequel/Sequel100Black-105.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 106";
    src: url("../../static/fonts/sequel/Sequel100Black-106.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 115";
    src: url("../../static/fonts/sequel/Sequel100Black-115.woff")
    format("woff");
}
@font-face {
    font-family: "sequel 116";
    src: url("../../static/fonts/sequel/Sequel100Black-116.woff")
    format("woff");
}

@font-face {
    font-family: "mono bold";
    src: url("../../static/fonts/flexmono/IBMPlexMono-Bold.woff")
    format("woff");
}
@font-face {
    font-family: "mono bold-italic";
    src: url("../../static/fonts/flexmono/IBMPlexMono-BoldItalic.woff")
    format("woff");
}
@font-face {
    font-family: "mono extra-light";
    src: url("../../static/fonts/flexmono/IBMPlexMono-ExtraLight.woff")
    format("woff");
}
@font-face {
    font-family: "mono italic";
    src: url("../../static/fonts/flexmono/IBMPlexMono-Italic.woff")
    format("woff");
}
@font-face {
    font-family: "mono light";
    src: url("../../static/fonts/flexmono/IBMPlexMono-Light.woff")
    format("woff");
}

@font-face {
    font-family: "mono light-italic";
    src: url("../../static/fonts/flexmono/IBMPlexMono-LightItalic.woff")
    format("woff");
}
@font-face {
    font-family: "mono medium";
    src: url("../../static/fonts/flexmono/IBMPlexMono-Medium.woff")
    format("woff");
}
@font-face {
    font-family: "mono medium-italic ";
    src: url("../../static/fonts/flexmono/IBMPlexMono-MediumItalic.woff")
    format("woff");
}
@font-face {
    font-family: "mono semi-bold";
    src: url("../../static/fonts/flexmono/IBMPlexMono-SemiBold.woff")
    format("woff");
}
@font-face {
    font-family: "mono semi-bold-italic";
    src: url("../../static/fonts/flexmono/IBMPlexMono-SemiBoldItalic.woff")
    format("woff");
}
@font-face {
    font-family: "mono thin";
    src: url("../../static/fonts/flexmono/IBMPlexMono-Thin.woff")
    format("woff");
}
@font-face {
    font-family: "mono thin-italic";
    src: url("../../static/fonts/flexmono/IBMPlexMono-ThinItalic.woff")
    format("woff");
}

@font-face {
    font-family: "flex 95";
    src: url("../../static/fonts/sequel/Sequel100Black-95.woff")
    format("woff");
}

@font-face {
    font-family: "flex button";
    src: url("../../static/fonts/sequel/Sequel100Black-45.woff")
    format("woff");
}

@font-face {
    font-family: "flex-mono medium";
    src: url("../../static/fonts/flexmono/IBMPlexMono-Medium.woff")
    format("woff");
}